Repository Novade/ntm: changes, and which Codecov flags are due for each by the changed paths.
All: ntm, ntm_ast, ntm_cli, ntm_core, ntm_interpreter, ntm_parser, ntm_scanner

:fire: Remove useless comment
  packages/ntm/lib/ntm.dart
Due: ntm

:sparkles: Support fields in classes
  packages/ntm_ast/lib/src/statement.dart
  packages/ntm_interpreter/lib/src/interpreter.dart
  packages/ntm_interpreter/lib/src/ntm_class.dart
  packages/ntm_interpreter/lib/src/ntm_instance.dart
  packages/ntm_interpreter/lib/src/resolver.dart
  packages/ntm_parser/lib/src/parser.dart
Due: ntm_ast, ntm_interpreter, ntm_parser

:white_check_mark: Test on class fields
  packages/ntm/test/ntm_test.dart
Due: ntm

:config: Add recommended vscode extensions
  .vscode/extensions.json
Due: none

:pencil2: Ignore spelling in vscode folders
  cspell.json
Due: none

(core): :sparkles: Add NtmLog and NvmLogger
  packages/ntm_core/lib/ntm_core.dart
  packages/ntm_core/lib/src/logger.dart
Due: ntm_core

:recycle: Use the logger instead of dart:io
  packages/ntm/lib/src/ntm.dart
  packages/ntm_interpreter/lib/src/interpreter.dart
Due: ntm, ntm_interpreter

:recycle: [ntm_cli] Use logger
  packages/ntm_cli/lib/src/logger.dart
  packages/ntm_cli/lib/src/ntm_cli.dart
Due: ntm_cli

:white_check_mark: Update the tests
  packages/ntm/cspell.json
  packages/ntm/pubspec.yaml
  packages/ntm/test/ntm_test.dart
  packages/ntm_cli/pubspec.yaml
  packages/ntm_core/test/logger_test.dart
  packages/ntm_core/test/ntm_core_test.dart
  packages/ntm_interpreter/cspell.json
  packages/ntm_interpreter/pubspec.yaml
  packages/ntm_interpreter/test/interpreter_test.dart
Due: ntm, ntm_cli, ntm_core, ntm_interpreter

Path conditions:
  ntm: any of: packages/ntm/, but not: **/example/
  ntm_ast: any of: packages/ntm_ast/, but not: **/example/
  ntm_cli: any of: packages/ntm_cli/, but not: **/example/
  ntm_core: any of: packages/ntm_core/, but not: **/example/
  ntm_interpreter: any of: packages/ntm_interpreter/, but not: **/example/
  ntm_parser: any of: packages/ntm_parser/, but not: **/example/
  ntm_scanner: any of: packages/ntm_scanner/, but not: **/example/
